body {
    background-color: cadetblue;
}

.container-fluid {
    width: 85vw;
    margin-top : 5em;
    margin-bottom : 8em;
}

.hiddenRow {
    display: none;
}

.col {
    background-color: rgb(255, 255, 255);
    padding: 2rem;
}

.overflow {
    overflow: scroll;
}

.color {
    background-color: rgb(255, 255, 255);
}

.concealableMoreSpan {
    display: none;
}

.concealableButtonSpan {
    color: blue;
    cursor: pointer;
}

#img-01 {
    width: 70%;
}

#curve_chart {
    height: 600px;
}